.mytableFixHead {
  overflow-y: auto;
  height: 90%;
}

.mytableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: darkgrey;
  color: aliceblue;
}

.mytable {
  width: 100%;
  border-collapse: collapse;
  height: 100%;
}
/* 
.mytable th {
  text-align: center;
  background: #eee;
} */

/* .mytable td {
  padding-right: 10px;
} */



/* .table th, td { */
  /* padding: 8px 16px; */
  /* border: 1px solid #ccc; */
/* } */

td.importo {
  text-align: right;
}